<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SemiSecret</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <br>
  <div class="alert alert-info" role="alert">SemiSecret is in early prototype stage and is currently only showing the <a href="https://twitter.com/bendyworks/lists/bendyworkers">@bendyworks/bendyworkers</a> feed</div>

  <div class="">
    <h1 class="">SemiSecret</h1>
    <p class="lead">Your Twitter, anonymish.</p>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= yield %>
    </div>
  </div>

</div>

</body>
</html>
